<div class="container mt-4">
     <div class="form-group">
          <label for="idInput">ID Number</label>
          <input type="text" class="form-control" 
          [formControl]="idNumberControl" id="idInput"
          placeholder="Enter ID number"
          formControlName="idNumber">

          <div *ngIf="idNumberControl.invalid && 
               (idNumberControl.dirty || idNumberControl.touched)"
               class="alert alert-danger">
          
               <div *ngIf="idNumberControl.errors.required">
                    ID number is required.
               </div>

               <div *ngIf="idNumberControl.errors.minlength ||
                    idNumberControl.errors.maxlength">
                    ID number must be 11 characters long.
               </div>

               <div *ngIf="idNumberControl.errors.pattern">
                    ID number must contain only digits.
               </div>

          </div>
     </div>
 </div>
