<div class="container mt-4">
     <div class="form-group">
          <label for="mobileInput">Mobile Phone</label>
          <input type="text" class="form-control" 
          [formControl]="mobileNumberControl" id="mobileInput"
          placeholder="Enter mobile number"
          formControlName="mobileNumber">

          <div *ngIf="mobileNumberControl.invalid && 
               (mobileNumberControl.dirty || mobileNumberControl.touched)"
               class="alert alert-danger">
          
               <div *ngIf="mobileNumberControl.errors.required">
                    Mobile number is required.
               </div>

               <div *ngIf="mobileNumberControl.errors.minlength ||
                    mobileNumberControl.errors.maxlength">
                    Mobile number must be 9 characters long.
               </div>

               <div *ngIf="mobileNumberControl.errors.pattern">
                    Mobile number must start with "5".
               </div>

          </div>
     </div>
 </div>