<div class="container mt-4">
    <div class="form-group">
         <label for="accountInput">Account</label>
         <input type="text" class="form-control" 
         [formControl]="accountNumberControl" id="accountInput"
         placeholder="Enter account number"
         formControlName="accountNumber">

         <div *ngIf="accountNumberControl.invalid && 
              (accountNumberControl.dirty || accountNumberControl.touched)"
              class="alert alert-danger">
         
              <div *ngIf="accountNumberControl.errors.required">
                   Account number is required.
              </div>

              <div *ngIf="accountNumberControl.errors.minlength ||
              accountNumberControl.errors.maxlength">
                   Account number must be valid.
              </div>

              <div *ngIf="accountNumberControl.errors.pattern">
                    Account format is not valid. 
               </div>

         </div>
    </div>
</div>