/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.btn {
    background-image: linear-gradient(to right,#8edc12 0%,#05afe9 100%);
    border: none;
}

.toolbar {
    background-image: linear-gradient(to right,#8edc12 0%,#05afe9 100%);
    text-decoration: none;
    height: 50px;
    font-size: 35px;
    color: white;
}

* {
    text-align: center;
    /* color: white; */
    font-weight: bold;
}

a.deco-none {
    color:white !important;
    text-decoration:none;
}

.btn {
    border-radius: 4px;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}
