<div class="container">

  <form [formGroup]="paymentForm">

    <div *ngIf=" requiredInputs.includes('mobileNumber') " class="form-group mt-5">
      <label for="mobileNumber">Mobile Number</label>
      <input type="text" class="form-control" 
      formControlName="mobileNumber"
        placeholder="Enter mobile number"/>

      <div *ngIf="mobileNumber.invalid && 
        (mobileNumber.dirty || mobileNumber.touched)" class="alert alert-danger">

        <div *ngIf="mobileNumber.errors.required">
          Mobile number is required.
        </div>

        <div *ngIf="mobileNumber.errors.minlength ||
        mobileNumber.errors.maxlength">
          Mobile number must be 9 characters long.
        </div>

        <div *ngIf="mobileNumber.errors.pattern">
          Mobile number must start with "5".
        </div>

      </div>

    </div>


    <div *ngIf=" requiredInputs.includes('moneyAmount') " class="form-group mt-5">
      <label for="moneyAmount">Amount</label>
      <input id="moneyAmount" type="number" class="form-control" formControlName="moneyAmount"
        placeholder="Enter amount" (input)="updateCommission()" aria-describedby="commission">
      <small class="form-text text-muted">Commission: <span #commission></span> GEL</small>
      <div *ngIf="moneyAmount.invalid && 
         (moneyAmount.dirty || moneyAmount.touched)" class="alert alert-danger">

        <div *ngIf="moneyAmount.errors.required">
          Amount is required.
        </div>

        <div *ngIf="moneyAmount.errors.min">
          Amount should be minimum 1 GEL.
        </div>

        <div *ngIf="moneyAmount.errors.max">
          Amount should be maximum 100 GEL.
        </div>

      </div>
    </div>


    <div *ngIf=" requiredInputs.includes('idNumber') " class="form-group mt-5">
      <label for="idNumber">ID Number</label>
      <input id="idNumber" type="text" class="form-control" formControlName="idNumber" placeholder="Enter ID number">

      <div *ngIf="idNumber.invalid && 
        (idNumber.dirty || idNumber.touched)" class="alert alert-danger">

        <div *ngIf="idNumber.errors.required">
          ID number is required.
        </div>

        <div *ngIf="idNumber.errors.minlength ||
        idNumber.errors.maxlength">
          ID number must be 11 characters long.
        </div>

        <div *ngIf="idNumber.errors.pattern">
          ID number must contain only digits.
        </div>

      </div>
    </div>


    <div *ngIf=" requiredInputs.includes('accountNumber') " class="form-group mt-5">
      <label for="accountNumber">Account Number</label>
      <input id="accountNumber" type="text" class="form-control" formControlName="accountNumber"
        placeholder="Enter account number">

      <div *ngIf="accountNumber.invalid && 
        (accountNumber.dirty || accountNumber.touched)" class="alert alert-danger">

        <div *ngIf="accountNumber.errors.required">
          Account number is required.
        </div>

        <div *ngIf="accountNumber.errors.minlength ||
        accountNumber.errors.maxlength">
          Account number must be valid.
        </div>

        <div *ngIf="accountNumber.errors.pattern">
          Account format is not valid.
        </div>

      </div>
    </div>


    <div class="mt-5">
      <button type="submit" 
      class="btn btn-primary text-white"  
      [disabled]="paymentForm.invalid"
      (click)="onSubmit(paymentForm.value)">
        Submit
      </button>
    </div>

  </form>

</div>